body { 
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100%;
    min-height: 100svh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 400px;
    height: 300px;
    padding: 20px;
    border: 2px solid var(--color-text);
    background-color: var(--hover);
}

.file-input {
    margin-top: auto;
}

.file-input::file-selector-button {
  background: var(--primary);
  color: white;
  font-family: var(--font-text);
  border: none;
  padding: 10px 16px;
  cursor: pointer;
  margin-right: 10px;
}

.file-input::file-selector-button:hover {
  background: #0056b3;
}

hr {
    width: 300px;
    border: 1px solid var(--color-text);
}


button {
    width: 300px;
    margin-top: auto;
}

#path {
    font-family: monospace;
    text-align: center;
    margin-top: 10px;
    padding: 10px 5px;
    background-color: var(--hover);
}